/*animation apparition vignettes menus*/
@-webkit-keyframes apparition_menu {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes apparition_menu {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation loading spinner page d'accueil*/
@-webkit-keyframes loading_spinner {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(9px);
  }
  75% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes loading_spinner {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(9px);
  }
  75% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(15px);
  }
}
/*fond transparent pour loading spinner*/
@-webkit-keyframes background_loading_spinner {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.904);
  }
}
@keyframes background_loading_spinner {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.904);
  }
}
footer {
  background-color: #353535;
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
  line-height: 30px;
}
footer .logo_footer {
  width: 35%;
  filter: invert(100%);
  margin-bottom: 15px;
}
footer .proposer_restaurant, footer .partenaire {
  display: flex;
  align-items: center;
  width: 52%;
  justify-content: space-between;
  height: 30px;
  font-weight: 600;
}
footer .proposer_restaurant:hover, footer .partenaire:hover {
  color: #99E2D0;
}
footer .partenaire {
  width: 43%;
}
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}
footer p:hover {
  color: #99E2D0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #99E2D0;
}

.ligne1 {
  display: flex;
}
.ligne1 .retour_accueil {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

.photo_page_restaurant {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo_menus {
  width: 100%;
  text-align: center;
}
.logo_menus img {
  width: 50%;
}

.menu_restaurant {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -50px;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: -50px;
}
.menu_restaurant h1 {
  margin: 0;
  padding-top: 40px;
  font-family: shrikhand;
}
.menu_restaurant .coeur_vide_menu {
  font-size: 25px;
  position: relative;
  bottom: 35px;
  left: 330px;
  color: black;
}
.menu_restaurant .coeur_plein_menu {
  font-size: 25px;
  position: relative;
  left: 301px;
  bottom: 35px;
  color: transparent;
  opacity: 0;
  transition-duration: 0.4s;
  transition-property: opacity;
}
.menu_restaurant .coeur_plein_menu:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 1;
  -webkit-background-clip: text;
          background-clip: text;
}
.menu_restaurant h2 {
  margin: 0;
  font-size: 17px;
  margin-top: 30px;
}
.menu_restaurant .border_titre {
  border-bottom: solid #99E2D0;
  margin-bottom: 20px;
  width: 45px;
  border-width: 3px;
}

.vignette_menu {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 6px 10px #DDDDDD;
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  line-height: 25px;
  -webkit-animation: apparition_menu 1s 0.5s;
          animation: apparition_menu 1s 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}
.vignette_menu:hover > .check {
  transform: translateX(0px);
  width: 30%;
}
.vignette_menu:hover > .check i {
  transform: rotate(360deg);
}
.vignette_menu .descriptif_menu {
  width: 82%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vignette_menu .descriptif_menu span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vignette_menu .descriptif_menu :nth-child(1) {
  font-weight: 900;
}
.vignette_menu .prix {
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 15%;
  font-weight: 900;
}
.vignette_menu .check {
  width: 0;
  height: 70px;
  background-color: #99E2D0;
  transform: translateX(230px);
  transition: transform 0.7s ease-in-out, width 0.7s ease-in-out;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vignette_menu .check i {
  color: white;
  font-size: 30px;
  transform: rotate(0);
  transition: transform 0.7s 0.2s ease-in-out;
}

.bouton_commande {
  text-align: center;
  margin-top: 50px;
}
.bouton_commande button {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 0px 6px 10px #DDDDDD;
  color: white;
  height: 50px;
  width: 250px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 18px;
  align-self: center;
}
.bouton_commande button:hover {
  background: linear-gradient(to top left, #9256dcb4, #ff79d9c0);
  box-shadow: 0px 6px 10px #bbb8b8;
}

@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("Shrikhand-Regular.otf");
}
* {
  font-family: robotoregular;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}

/*loading spinner*/
.loadingspinner {
  height: 100%;
  width: 425px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: background_loading_spinner 2.5s;
          animation: background_loading_spinner 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.03, 0.61, 0.92, 0.69);
          animation-timing-function: cubic-bezier(0.03, 0.61, 0.92, 0.69);
}

.spinner1 {
  -webkit-animation: loading_spinner 0.3s 0.2s;
          animation: loading_spinner 0.3s 0.2s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  color: #9356DC;
  font-size: 50px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: translate(-2000px);
}

.spinner2 {
  -webkit-animation: loading_spinner 0.3s 0.3s;
          animation: loading_spinner 0.3s 0.3s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  color: #FF79DA;
  font-size: 50px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: translate(-2000px);
}

.spinner3 {
  -webkit-animation: loading_spinner 0.3s 0.4s;
          animation: loading_spinner 0.3s 0.4s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  color: #99E2D0;
  font-size: 50px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: translate(-2000px);
}

.spinner4 {
  -webkit-animation: loading_spinner 0.3s 0.5s;
          animation: loading_spinner 0.3s 0.5s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  color: #9356DC;
  font-size: 50px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: translate(-2000px);
}

.spinner5 {
  -webkit-animation: loading_spinner 0.3s 0.6s;
          animation: loading_spinner 0.3s 0.6s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  color: #FF79DA;
  font-size: 50px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: translate(-2000px);
}

.spinner6 {
  -webkit-animation: loading_spinner 0.3s 0.7s;
          animation: loading_spinner 0.3s 0.7s;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  color: #99E2D0;
  font-size: 50px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: translate(-2000px);
}

/*fin loading spinner*/
.logo_container {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.logo_container img {
  width: 50%;
}

.barre_recherche {
  width: 100%;
  height: 45px;
  background-color: #EAEAEA;
  box-shadow: inset #e0e0e0 0 3px;
  text-align: center;
}
.barre_recherche input {
  border: none;
  width: 145px;
  height: 100%;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-left: 10px;
  background-color: #EAEAEA;
  box-shadow: inset #e0e0e0 0 3px;
}

.en_tete {
  background-color: #F6F6F6;
  text-align: center;
}
.en_tete h1 {
  margin: 0;
  font-size: 30px;
  padding-top: 30px;
}
.en_tete :nth-child(2) {
  padding-top: 0;
}
.en_tete p {
  font-size: 20px;
}
.en_tete button {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 0px 6px 10px #DDDDDD;
  color: white;
  height: 45px;
  width: 250px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 18px;
}
.en_tete button:hover {
  background: linear-gradient(to top left, #9256dcb4, #ff79d9c0);
  box-shadow: 0px 6px 10px #bbb8b8;
}

.presentation_fonctionnement {
  margin-right: 5%;
  margin-left: 5%;
}
.presentation_fonctionnement h2 {
  margin-top: 50px;
}

.onglet_fonctionnement {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 60px;
  background-color: #F6F6F6;
  box-shadow: 0px 6px 10px #DDDDDD;
  justify-content: space-around;
}
.onglet_fonctionnement:hover {
  background-color: #F5EDFF;
  color: #9356DC;
}
.onglet_fonctionnement span {
  border: solid;
  border-radius: 50px;
  color: white;
  background-color: #9356DC;
  width: 22px;
  height: 22px;
  text-align: center;
  position: relative;
  right: 40px;
}
.onglet_fonctionnement i {
  position: relative;
  right: 60px;
}
.onglet_fonctionnement p {
  position: relative;
  right: 80px;
}

.liste_restaurants {
  margin-top: 80px;
  background-color: #F6F6F6;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  height: auto;
}
.liste_restaurants h2 {
  padding-top: 30px;
}

.vignette_restaurant {
  border: solid #F6F6F6 0;
  border-radius: 30px;
  background-color: white;
  height: 260px;
  margin-top: 30px;
  box-shadow: 0px 6px 10px #DDDDDD;
}
.vignette_restaurant a {
  text-decoration: none;
}
.vignette_restaurant h3, .vignette_restaurant p {
  color: black;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.vignette_restaurant .new {
  width: 75px;
  height: 30px;
  background-color: #99E2D0;
  font-weight: 700;
  color: #048A69;
  font-size: 14px;
  position: relative;
  bottom: 210px;
  left: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vignette_restaurant .photo_restaurant {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  border-radius: 30px 30px 0 0;
}
.vignette_restaurant .coeur_vide {
  font-size: 25px;
  position: relative;
  bottom: 35px;
  left: 330px;
  color: black;
}
.vignette_restaurant .coeur_vide_new {
  font-size: 25px;
  position: relative;
  bottom: 70px;
  left: 330px;
  color: black;
}
.vignette_restaurant .coeur_plein {
  font-size: 25px;
  position: relative;
  left: 301px;
  bottom: 35px;
  color: transparent;
  opacity: 0;
  transition-duration: 0.4s;
  transition-property: opacity;
}
.vignette_restaurant .coeur_plein:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 1;
  -webkit-background-clip: text;
          background-clip: text;
}
.vignette_restaurant .coeur_plein_new {
  font-size: 25px;
  position: relative;
  left: 301px;
  bottom: 70px;
  color: transparent;
  opacity: 0;
  transition-duration: 0.4s;
  transition-property: opacity;
}
.vignette_restaurant .coeur_plein_new:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 1;
  -webkit-background-clip: text;
          background-clip: text;
}

@media screen and (min-width: 426px) {
  body {
    width: 1200px;
    max-width: 1200px;
  }

  .container_fonctionnement, .container_restaurants {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  }

  .liste_restaurants {
    padding-left: 2%;
    padding-right: 2%;
  }
  .liste_restaurants .vignette_restaurant {
    width: 23%;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 0.2s;
  }
  .liste_restaurants .vignette_restaurant:hover {
    transform: scale(1.1);
  }
  .liste_restaurants .vignette_restaurant .new {
    bottom: 230px;
    left: 170px;
  }
  .liste_restaurants .vignette_restaurant .coeur_vide_new, .liste_restaurants .vignette_restaurant .coeur_vide {
    left: 230px;
  }
  .liste_restaurants .vignette_restaurant .coeur_plein_new, .liste_restaurants .vignette_restaurant .coeur_plein {
    left: 201px;
  }

  .onglet_fonctionnement {
    width: 30%;
  }

  footer {
    padding: 2%;
    text-align: center;
    cursor: pointer;
  }
  footer .logo_footer {
    width: 25%;
  }
  footer .proposer_restaurant {
    justify-content: center;
    width: auto;
  }
  footer .proposer_restaurant i {
    padding-right: 10px;
  }
  footer .partenaire {
    justify-content: center;
    width: auto;
  }
  footer .partenaire i {
    padding-right: 10px;
  }
}/*# sourceMappingURL=style_index.css.map */