/*animation apparition vignettes menus*/
@keyframes apparition_menu{
    0%{
        opacity: 0;
        transform: translateY(24px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/*animation loading spinner page d'accueil*/
@keyframes loading_spinner{
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    25%{
        transform: translateY(6px);
    }
    50%{
        transform: translateY(9px);
    }
    75%{
        transform: translateY(12px);
    }
    100%{
        transform: translateY(15px);
        opacity: 1;
    }
}
@keyframes background_loading {
    from{
        transform: translate(2000px);
        opacity: 0;
    }
    to{
        background-color: white;
        transform: translate(0px);
    }
}


